/* Global Variables

Advantages of using var() are: 
- makes the code easier to read (more understandable)
- makes it much easier to change the color values

The var() function is used to insert the value of a CSS variable. 

The syntax of the var() function is as follows: 
var(--name, value)

Value   Description
name    Required. The variable name (must start with two dashes) 
value   Optional. The fallback value (used if the variable is not found)

Note: The variable name must begin with two dashes (--) and it is case sensitive !

*/
:root {
    /* Default Properties */

    /* Colors */
    --black-color: #000000;
    --white-color: #ffffff;
    --gray-80-color: #cccccc;
    --gray-94-color: #f0f0f0;
    --dark-gray-color: #555;
    --resene-tuna-color: #46494e;
    --cyan-blue-color: #0077b5;
    --yello-green-light-shade-color: #f0faaa;

    /* Fonts & Family */
    --font-size: 16px;
    --font-family: Helvetica, Arial, sans-serif;


    /* Alignment */
    --align-center: center;
    --align-left: left;
    --align-right: right;


    /* Headings */
    --heading-margin: 80px;
    --heading-margin-bottom: 36px;
    --heading-min-height: 48px;
    --heading-font-size: 40px;

    /* Focus */
    --focus-bg-color: var(--dark-gray-color);
    --focus-color: var(--dark-gray-color);

    /* Footer */

}

/** 
 * Generic
 */

html {
    background-color: var(--white-color);
    font-size: var(--font-size);
}

body {
    background-color: var(--cyan-blue-color);
    color: var(--white-color);

    border: 1px solid var(--gray-80-color);

    font-size: var(--font-size);
    font-family: var(--font-family);

    margin: 0px auto;
    padding: 20px 20px;
}


h1 {
    margin: var(--heading-margin);
    font-size: var(var(--heading-font-size));
    text-align: var(--align-center);
    min-height: var(--heading-min-height);
}


h2 {
    margin-bottom: var(--heading-margin-bottom);
}


/** 
 * Components
 */

input {
    height: 40px;
    border-radius: 16px;
    font-size: 16px;
    padding: 8px;
}

input[type=text]:focus {
    border: 3px solid var(--dark-gray-color);
}

input[type="text"] {
    min-width: 257px;
    width: 640px;

    height: 40px;
    border-radius: 16px;
    font-size: 24px;
    padding: 8px;
}

button {
    margin: 0 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"] {
    min-width: 112px;
    width: 150px;

    height: 56px;
    border-radius: 16px;
    font-size: 24px;

}

/** 
 * Table
 */

table {
    width: 100%;
    border: 1px solid var(--black-color);
    border-collapse: collapse;
}

table>tbody>tr>td,
table>thead>tr>th {
    padding: 10px;
    border-left: 1px dotted var(--black-color);
    line-height: 20px;
}

table>tbody>tr,
table>thead>tr {
    border-bottom: 1px solid --black-color;
}

table th {
    background-color: var(--resene-tuna-color);
    color: var(--white-color);
}

ol>li {
    margin-top: 10px;
}

tr.odd td {
    background-color: var(--yello-green-light-shade-color);
}

td {
    text-align: center;
}

td.number {
    text-align: right;
}


footer {
    display: block;
    background-color: var(--resene-tuna-color);
    color: var(--white-color);
    text-align: var(--align-center);
    padding: inherit;
}


/** 
 * Misc
 */

.logo {
    float: left;
}

.welcome {
    float: right;
}

.left-align {
    text-align: var(--align-left);
}

.right-align {
    text-align: var(--align-right);
}

.center-align {
    text-align: var(--align-center);
}



.button,
a.button {
    /*background: #2A88AD;*/
    background: var(--resene-tuna-color);
    padding: 8px 20px 8px 20px;
    margin: 10px 0px 10px -1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #777;
    /*border-bottom: 1px dotted #777;*/
}

a:hover {
    color: #99cc33;
    border-bottom: 1px solid #99cc33;
}


/**
 * Vue.js Specific Styles
 */

.card {
    background: var(--white-color);
    color: #495057;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.8), 0 4px 4px 0 rgba(0, 0, 0, 0.64), 0 4px 12px 0 rgba(0, 0, 0, 0.48);
    border-radius: 3px;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    cursor: pointer;
}

.card h2 {
    font-size: 32px;
    text-align: center;
    padding-top: 24px;
}

.card>div {
    font-size: 24px;
    text-align: center;
    margin: 0 40px;
}

.page-number {
    text-align: var(--align-right);
    padding: 16px;
}

.card>pageNumber {
    font-size: 8px;
    margin: 12px;
}

#app>a {
    display: block;
    text-align: center;
    margin: 20px auto;
    color: var(--white-color);
}

.navigation {
    text-align: center;
    margin: 20px auto;
}

.user-input {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}


[v-cloak] {
    display: none
}

.score {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.score button {
    width: 200px;
    cursor: pointer;
}

.again {
    background-color: #F6D55C;
}

.done {
    text-align: center;
}

form {
    width: 640px;
    margin: 0 auto;
    text-align: left;
}

label {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}


textarea {
    min-width: 257px;
    min-height: 150px;
    width: 640px;
    height: 480px;

    height: 40px;
    border-radius: 16px;
    font-size: 24px;
    padding: 8px;

    vertical-align: middle;
}

.count-chars {
    padding-left: 8px;
}

form div {
    margin-bottom: 20px;
}

.options {
    padding: 0px;
    /* padding-left: 100px; */
}

.options label {
    display: block;
    width: auto;
}

.leech-action {
    margin-top: 15px;
    width: 50%;
}

.leech-action label {
    display: inline;
}

.category {
    margin-top: 10px;
}

select {
    height: 40px;
    width: 275px;
    font-size: 12px;
}